themes {
  latte {
    rosewater  "#a43b35"
    flamingo  "#da3537"
    pink  "#d332a1"
    magenta  "#d332a1"
    mauve  "#aa3685"
    red  "#ff3532"
    maroon  "#de3631"
    peach  "#f36c0b"
    orange  "#f36c0b"
    yellow  "#bd8800"
    green  "#596600"
    teal  "#287e5e"
    sky  "#52b1c7"
    cyan  "#52b1c7"
    sapphire  "#3fb4b8"
    blue  "#317da7"
    lavender  "#474155"
    text  "#4d4742"
    white  "#4d4742"
    fg  "#4d4742"
    subtext1  "#5b5549"
    subtext0  "#6d6655"
    overlay2  "#786d5a"
    overlay1  "#8c7c62"
    overlay0  "#a18d66"
    surface2  "#c9bea5"
    bg  "#c9bea5"
    surface1  "#d8d3ba"
    surface0  "#e8e2c8"
    base  "#ebe4c8"
    mantle  "#e1dab5"
    black  "#e1dab5"
    crust  "#bdc0a0"
  }
  primeppuccin {
    rosewater  "#e0ceca"
    flamingo  "#e3c1c1"
    pink  "#e0b1d4"
    magenta  "#e0b1d4"
    mauve  "#c4a4eb"
    red  "#d2788c"
    maroon  "#eba0ac"
    peach  "#f6b596"
    orange  "#f6b596"
    yellow  "#e6d0a1"
    green  "#8faf77"
    teal  "#88d1c5"
    sky  "#82d2e0"
    cyan  "#82d2e0"
    sapphire  "#6dbade"
    blue  "#7aa0de"
    lavender  "#b4befe"
    text  "#d5daf0"
    white  "#d5daf0"
    fg  "#d5daf0"
    subtext1  "#bac2de"
    subtext0  "#a6adc8"
    overlay2  "#9399b2"
    overlay1  "#7f849c"
    overlay0  "#6c7086"
    surface2  "#585b70"
    bg  "#585b70"
    surface1  "#45475a"
    surface0  "#313244"
    base  "#1b1f20"
    mantle  "#151819"
    black  "#151819"
    crust  "#0e1011"
  }
}
